
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h2{
  font-family: 'Roboto', sans-serif;
}

.xxlarge{
  font-size: xx-large;
}

.xlarge{
  font-size: x-large;
}

.d-flex{
  display: flex;
}

.section{
  width: 100%;
}

.blue-button{
  background-color: #0061ff;
  color: white;
}

.different{
  background-color: white;
  color: black;
  border: 1px solid black;
}

.blue-button.small{
  padding: 5px 15px;
  text-decoration: none;
}

.blue-button.big{
  padding: 8px 50px;
  text-decoration: none;
}

.piccolo{
  width: 400px;
}

.main-container{
  padding-top: 150px;
  width: 1200px;
  margin: 0 auto;
}

.svgsmall{
  width: 18px;
  height: 18px;
}

.svgsmallx{
  width: 13px;
  height: 13px;
}

.gray{
  color: gray;
}

.blu-button-container{
  justify-content: center;
  align-items: center;
}

.blue{
  color: #0061ff;
  text-decoration: none;
}

.bluelink{
  color:#0061ff ;
}

.fblue{
  fill: #0061ff;
}

.riga{
  width: 20%;
  background-color: gray;
}

.padding10y{
  padding: 10px 0px;
}

.paddingb30{
  padding-bottom: 30px;
}

.paddingb100{
  padding-bottom: 100px;
}

.paddingt20px{
  padding-top: 20px;
}

.padding-top50-b10{
  padding-top: 50px;
  padding-bottom: 10px;
}

.padding50y{
  padding: 50px 0px;
}

.bordergray{
  border: 1px solid gray;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.contenitore{
  width: 100%;
  background-color: aquamarine;
  height: 500px;
}

.space{
  justify-content: space-between;
}

.jleft{
  justify-content: left;
}

.card{
  max-width: 350px;
  width: calc(100% / 3);
  min-width: 300px;
}

.card-img{
  max-width: 350px;
}

.underline{
  text-decoration: underline;
}

.use-info{
  justify-content: space-between;
}

.wrap{
  flex-wrap: wrap;
}

.sponsor{
  width: calc(100% / 2);
  height: calc(100% / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightgreen{
  background-color: #a2d39b;
}

.marrone{
  background-color: #61082b;
}

.cobalt{
  background-color: #0093ce;
}

.lightred{
  background-color: #ff1c1c;
}

.rossochiaro{
  background-color: #d5001f;
}

.grigino{
  background-color: #b4d0e7;
}

.bluscuro{
  background-color: #0d2481;
}

.yellow{
  background-color: #ffd830;
}

.img-sponsor{
  width: 120px;
}

.svgpicoola{
  width: 160px;
  height: 50px;
}






















.orange{
  background-color: orange;
}

.purple{
  background-color: purple;
}

