header{
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  background-color: white;
  z-index: 999;
}

nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

ul{
  list-style: none;
  align-items: center;
}

header nav ul li{
  margin: 0 10px;
  padding: 10px;
}

header nav ul li:hover{
  border-bottom: 1px solid black;
}

header nav ul li a{
  color: black;
  text-decoration: none;
}

/*fine header*/

/*Inizio Main*/

/*Prima sezione*/
.section.azzurro{
  background-color: #b4d0e7;
  flex-direction: column;
  padding-top: 80px;
  height: 728px;
}

.alto{
  flex-direction: column;
  padding-top: 50px;
  margin: 0 auto;
}

.titolo{
  font-size: xxx-large;
  font-family: 'Roboto', sans-serif;
}

.box-testo .piccolo:first-child{
  padding: 50px 0px 30px 0px;
}

.box-testo .piccolo{
  padding: 20px 0px;
}

.arrow svg{
  width: 40px;
  height: 40px;
}

.box-img{
  max-width: 800px;
  width: 100%;
  position: relative;
}

.box-img img{
  width: 100%;
  max-height: 500px;
  padding-top: 50px;
  position: absolute;
}

/*Seconda sezione*/


.checkbox{
  margin-top: 50px;
}

.radio-container{
  padding-right: 10px;
}

.checkbox input{
  padding: 0 20px;
}

.col-container{
  max-height: 1000px;
  justify-content: space-between;
  padding: 40px 0px;
  max-width: 1200px;
  margin: 0 auto;
}

.colonna{
  height: 900px;
  width: 30%;
  flex-direction: column;
}

.col-title{
  justify-content: center;
  padding: 10px 20px;
}

.col-content{
  padding: 30px;
  flex-direction: column;
}

.main-col-oriz{
  padding: 40px 20px;
  position: relative;
}

.col-container-orizzontale{
  margin: 0 auto;
  max-width: 1200px;
  border: 1px solid gray;
}

.box-right .blu-button-container{
  position: absolute;
  right: 20px;
  top: 40px;
}



